.content {
    background-color: #161c20;
}

.members {
    text-align: center;
    margin: auto;
    width: 80%;
}

.member {
    display: inline-block;
    width: 25%;
    background-color: #3c4c55;
    margin: 15px 10px;
    padding: 10px;
}

.member-pic {
    width: 100%;
}
