
.forums-header, .forum-section {
    width: 80%;
    margin: 0 auto;
}

.forums-header-map {
    color: #C1C1C1;
    font-size: 10px;
}

.forum-section {
    padding-bottom: 16px;
}

.section-header {
    background-color: #20272d;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 8px;
}

.board {
    background-color: #3c4c55;
    border-bottom: solid 1px #C1C1C1;
    color: #C1C1C1;
    display: table;
    box-sizing: border-box;
    padding: 12px 8px;
    width: 100%;
}

.board-name {
    display: table-cell;
    padding-right: 10px;
    width: 50%;
    vertical-align: middle;
}

.board-name-content {
    display: inline-block;
}

.board-name-content-title {
    display: block;
    font-weight: 600;
}

.board-name-content-description {
    color: #C1C1C1;
    font-size: 12px;
}

.board-stats {
    display: table-cell;
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.board-stats-posts {
    font-weight: 600;
}

.board-thread {
    display: table-cell;
    width: 40%;
    padding-left: 30px;
}
