/*
    COLORES

    background:     #171717
    white:          #FFFFFF
    menus:          #20272d
    second menu:    #2A3840
    Secondary:      #70C989
    terciary:       #FFF62F
    gray:           #C1C1C1
    other black:    #1c2126
    other black 2:  #161c20
*/

/*
    GENERAL
*/

body {
    font-family: Verdana, serif;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
}

a {
    color: #70C989;
    text-decoration: none;
}

/*
    popup
 */
.popup-anchor:target {
    display: block;
}

.popup-anchor:target + .popup {
    display: block;
}

.popup-anchor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* anything, really, but bigger than other elements on the page */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
}

.popup {
    display: none;
    background: white;
    width: 640px;
    height: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -240px;
    z-index: 2;

    box-sizing    : border-box;
}
.popup-content{
    width: 50%;
    margin: auto;
    color: black;
}
.popup-content-title{
}

.popup > .popup-close{
    color: white;
    position: absolute;
    font-weight: bold;
    right: 10px;
    bottom        : 100%;
    margin-bottom    : 5px;
}

/*
    Header
*/

#header-head {
    height: 50px;
}

#header-head-logo {
    float: left;
    padding: 10px 0 0 10px;
}

#header-head-logo p {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

#header-head-usermenu {
    float: right;
    padding: 10px 10px 0 0;
}

#header-bar {
    height: 45px;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #20272d;
}

.navbar-item a {
    color: #FFFFFF;
    font-weight: 700;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navbar-item a:hover {
    background-color: #70c989;
}

.navbar-item input {
    color: #FFFFFF;
    background: #2A3840;
}

.navbar-itemm a{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
}

.navbar-item input{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
}

.forums-header, .forum-section {
    width: 80%;
    margin: 0 auto;
}

.forums-header-map {
    color: #C1C1C1;
    font-size: 10px;
}

/*
    Body
*/

.content {
    background-color: #2A3840;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    padding: 5px 10px 10px;
    width: 100%;
}

/*
    FOOTER
*/

.footer-head {
    background-color: #1c2126;
    color: #777a7d;
    height: 200px;
}

.footer-head-proyecto {
    float: left;
    padding: 80px 0 0 20px;
}

.footer-head-proyecto p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.header-head-menu {
    float: right;
    padding: 10px 30px 0 0;
}

/*
    ITEMS
*/

.button {
    padding: 5px 12px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    border: solid 2px #70c989;
}

.bordered-button {
    background-color: transparent;
}

.filled-button {
    background-color: #70c989;
    color: #FFFFFF;
}

/*
    Blocks
*/

.block {
    display: table;
}

.block-profile {
    display: table-cell;
    padding-right: 8px;
    vertical-align: middle;
}

.block-profile-img {
    height: 50px;
    width: 40px;
    border: #FFFFFF 1px solid;
}

.block-content {
    display: table-cell;
    word-break: break-word;
    margin-right: 0;
}

.block-content-title {
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding-bottom: 4px;
}

.block-content-text {
    font-size: 11px;
    color: #FFFFFF;
}

.block-content-info {
    color: #C1C1C1;
    font-size: 10px;
    display: inline-block;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
