/*
    main
*/

.content-main {
    border: solid transparent 1px;
    box-sizing: border-box;
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
    width: 75%;
}

.content-side {
    background-color: #3c4c55;
    padding-left: 10px;
    display: table-cell;
    vertical-align: top;
    width: 25%;
}

.cell {
    margin: 0 0 20px;
}

.cell-title {
    font-size: 18px;
    font-weight: 700;
    border-color: #fff62f;
    border-style: solid;
    border-width: 0 0 1px;
    margin: 0;
    padding: 3px 0;
}

.cell-content {
    display: block;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
}

/*POSTERS*/

.poster-slider {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.poster-slider-big {
    height: 220px;
}

.poster-slider-small {
    height: 160px;
}

.poster-slider-item {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.poster-slider-item-big {
    margin-right: 6px;
}

.poster-slider-item-small {
    margin-right: 8px;
}

.poster-slider-item, .poster {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.poster {
    display: block;
}

.poster-slider-item-big, .poster-big, .poster-image-big {
    height: 220px;
    width: 160px;
}

.poster-slider-item-small, .poster-small, .poster-image-small {
    height: 160px;
    width: 110px;
}

.poster span {
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: rgba(0,0,0,.8) 1px 1px 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    padding: 15px 5px 5px;
    position: absolute;
}

/*
    BLOCKS
*/

.block-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 20px;
    padding: 0;
}

.bordered-block {
    border-bottom: #C1C1C1 1px solid;
    padding: 8px 0;
}