.thread {
    background-color: #2A3840;
    color: #FFFFFF;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    padding: 5px 20px 10px;
    width: 100%;
}

.thread-header, .thread-container {
    width: 80%;
    margin: 0 auto;
}

.thread-pages {
    text-align: right;
    font-size: 11px;
}

.thread-title {
    display: block;
    background-color: #20272d;
    padding: 10px;
    margin: 5px 0 10px;
    font-weight: 700;
    font-size: 16px;
}

.post-list {
    width: 100%;
}

.post {
    margin-bottom: 10px;
}

.post-header, .post-footer {
    display: table;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
}

.post-header {
    background-color: #20272d;
    padding: 5px 5px;
}

.post-footer {
    background-color: #3c4c55;
}

.post-header-date {
    width: 50%;
    padding-right: 10px;
    display: table-cell;
}

.post-header-number {
    width: 50%;
    text-align: right;
    padding-left: 10px;
    display: table-cell;
}

.post-content {
    background-color: #3c4c55;
    display: table;
    table-layout: fixed;
}

.post-user, .post-extra {
    vert-align: top;
    text-align: center;
    display: table-cell;
    padding: 0 10px 10px;
    width: 20%;
    border-right: 1px solid #C1C1C1;
}

.post-extra p {
    margin: 10px 0 0;
}

.post-user {
    border-bottom: 1px solid #C1C1C1;
}

.user-name {
    font-weight: 600;
    margin: 15px 0 0;
}

.user-name a {
    color: #FFFFFF;
}

.user-pic {
    margin: 15px auto;
    height: 150px;
    width: 150px;
    border: #FFFFFF 1px solid;
}

.user-info {
    text-align: left;
    font-size: 11px;
}

.post-text, .post-actions {
    display: table-cell;
    width: 80%;
    word-break: break-word;
}

.post-text {
    padding: 0 10px 10px;
    border-bottom: 1px solid #C1C1C1;
}

.post-actions {
    padding: 5px 10px;
    text-align: right;
}

.action-button {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
}

.action-icon {
    vertical-align: middle;
    display: inline-block;
}

.action-icon-img {
    width: 25px;
    height: 25px;
}

.action-like {
    font-size: 16px;
    font-weight: 600;
}

.positive-like {
    color: #fff62f;
}

.negative-like {
    color: red;
}

.post-reply-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.post-reply-list-item {
    color: #FFFFFF;
    font-weight: 700;
    float: right;
    display: block;
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
}